<div class="row">
  <div class="small-12 column" id="locker_head">
    <h1><%= current_user.username %>'s Jokes</h1>
      <div class="row">
        <div class="small-12 columns">
          <%= link_to "Browse Jokes", jokes_path, class: "small button" %>
          <%= link_to "Add New Joke", new_joke_path, class: "small button" %>
        </div>
      </div>
  </div>
</div>

  <% @jokes.each do |joke| %>
<div class="row">
  <div class="small-12 columns">
    <div class="panel"><%= link_to joke.title, "/jokes/#{joke.id}" %></div>
  </div>
</div>
<% end %>

