<div class="row">
  <div class="small-12 column">
    <h2 class="subheader">Store your favourite knock knock jokes and oneliners.</h2>
    
    <h1><%= link_to "Login", :login %> or <%= link_to "Sign Up", :signup %></h1>
  </div>
</div>
