<div class="row">
  <div class="small-12 column">
    <h2 class="subheader">Discover and share your favourite party jokes.<br />Be hilarious.</h2>
    
    <h1><%= link_to "Login", :login %> or <%= link_to "Sign Up", :signup %></h1>
  </div>
</div>
