<div class="row">  
  <div class="small-12 columns" id="jokes_head">
    <h1>All Jokes</h1>
  </div>
</div>
  <% @jokes.each do |joke| %>
<div class="row">
  <div class="small-12 columns">
    <div class="panel"><%= link_to joke.title, "/jokes/#{joke.id}" %></div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="small-12 columns" id="index_buttons">
      <%= link_to "Add New Joke".html_safe, new_joke_path, class: "small button" %>
      <%= link_to "Main Menu".html_safe, root_path, class: "small button" %>
  </div>
</div>