<div class="row">
  <div class="small-12 column" id="add_buttons">
    <button id="knock">Knock Knock</button>
    <button id="oneliner">One Liner</button>
  </div>
</div>

<div class="row">
  <div class="small-12 column" id="jokeprompt">
    <h1>What kind of joke are you telling?</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 column" id="knockform">
    <%= render 'knockform' %>
  </div>
</div>

<div class="row">
  <div class="small-12 column" id="oneliner_form">
    <%= render 'oneliner_form' %>
  </div>
</div>
